body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul.main {
    padding: 5px;
    /*background: #000;*/
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul.main > li {
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 0 10px;
    margin-right: 30px;
}

    ul.main > li > ul {
        display: none;
    }

    ul.main > li:hover > ul {
        display: block;
        position: absolute;
        width: 150px;
        background: #9d9d9a;
    }